<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lamhong.viesocial">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name="com.lamhong.viesocial.EmojiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBook"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.lamhong.viesocial.ChangeNickNameActivity"></activity>
        <activity android:name="com.lamhong.viesocial.DoiTenActivity"></activity>
        <activity android:name="com.lamhong.viesocial.ThaydoimatkhauActivity" />
        <activity android:name="com.lamhong.viesocial.TKMKActivity" />
        <activity android:name="com.lamhong.viesocial.TTCNActivity" />
        <activity android:name="com.lamhong.viesocial.TTTGActivity" />
        <activity android:name="com.lamhong.viesocial.RulesActivity" />
        <activity android:name="com.lamhong.viesocial.HelpActivity" />
        <activity android:name="com.lamhong.viesocial.BMActivity" />
        <activity android:name="com.lamhong.viesocial.DestinationPostActivity" />
        <activity android:name="com.lamhong.viesocial.FullScreenPictureActivity" />
        <activity android:name="com.lamhong.viesocial.CommentShareActivity" />
        <activity android:name="com.lamhong.viesocial.PrivateActivity" />
        <activity android:name="com.lamhong.viesocial.ForgotPasswordActivity" />
        <activity
            android:name="com.lamhong.viesocial.OutgoingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lamhong.viesocial.IncomingInvitationActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.lamhong.viesocial.GroupEditActivity" />
        <activity android:name="com.lamhong.viesocial.GroupInfoActivity" />
        <activity android:name="com.lamhong.viesocial.GroupAddMemberActivity" />
        <activity android:name="com.lamhong.viesocial.SettingActivity" />
        <activity android:name="com.lamhong.viesocial.MyShotVideoActivity" />
        <activity android:name="com.lamhong.viesocial.ShotVideoActivity" />
        <activity android:name="com.lamhong.viesocial.AddShotVideoActivity" />
        <activity android:name="com.lamhong.viesocial.ReplayCommentActivity" />
        <activity android:name="com.lamhong.viesocial.UserPrivacyActivity" />
        <activity android:name="com.lamhong.viesocial.UserSystemSettingActivity" />
        <activity android:name="com.lamhong.viesocial.UserActiviesActivity" />
        <activity android:name="com.lamhong.viesocial.UserSavePostActivity" />
        <activity android:name="com.lamhong.viesocial.GroupChatsLogActivity" />
        <activity android:name="com.lamhong.viesocial.GroupChatsActivity" />
        <activity android:name="com.lamhong.viesocial.GroupCreateActivity" />
        <activity android:name="com.lamhong.viesocial.FollowingListActivity" />
        <activity android:name="com.lamhong.viesocial.ProfileActivity" />
        <activity android:name="com.lamhong.viesocial.NewSearchActivity" />
        <activity android:name="com.lamhong.viesocial.PictureActivity" />
        <activity android:name="com.lamhong.viesocial.SchoolEditingActivity" />
        <activity android:name="com.lamhong.viesocial.DetailEditGeneralActivity" />
        <activity android:name="com.lamhong.viesocial.DetailUserInforChangeActivity" />
        <activity android:name="com.lamhong.viesocial.ChangeCoverImageActivity" />
        <activity android:name="com.lamhong.viesocial.ChangeAvatarActivity" />
        <activity android:name="com.lamhong.viesocial.ProfileEditting" />
        <activity android:name="com.lamhong.viesocial.FriendListActivity" />
        <activity
            android:name="com.lamhong.viesocial.ChatLogActivity"
            tools:ignore="ExtraText">
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name="com.lamhong.viesocial.NewMessageActivity" />
        <activity android:name="com.lamhong.viesocial.SharePostActivity" />
        <activity android:name="com.lamhong.viesocial.UserReacted" />
        <activity android:name="com.lamhong.viesocial.CommentActivity" />
        <activity android:name="com.lamhong.viesocial.Post_Activity" />
        <activity android:name="com.lamhong.viesocial.SignupActivity" />
        <activity android:name="com.lamhong.viesocial.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.lamhong.viesocial.AccountSettingActivity" />
        <activity android:name="com.lamhong.viesocial.MainActivity">

            <!-- android:label="@string/app_name" -->


            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <service
            android:name="com.lamhong.viesocial.Network.MyFirebaseMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>